<section>
    <h2>Crie sua própria sala</h2>
    <form action="/creat-room" method="POST">
        <label class="sr-only" for="room-pass">Insira um senha</label>
        <input type="password" name="password" id="room-pass" placeholder="Insira um senha">
        <button>
            <img src="/images/users-white.svg" alt="Entrar na sala">
            Criar Sala
        </button>
    </form>
</section>
