<section>
  <h2>Código de participação</h2>
  <form action="/enterroom" method="post">
    <label class="sr-only" for="room-id">Código da sala</label>
    <input name="roomId" type="number" id="room-id" placeholder="Código da sala">
    <button>
      <img src="/images/enter-room.svg" alt="Entrar na sala">
      Entrar na sala
    </button>
  </form>
</section>